<!DOCTYPE html>
<html>
<head>
    <title>Count your words!</title>
</head>
<body>
    <section class="counter-ui">
        <div class="container">
            <form action="" method="GET">
                <input type="search" placeholder="Title:" name="title">
                <input type="search" placeholder="Type how many results you want to see:" name="number">
                <input type="search" placeholder="Paste your text:" name="text">
                <button>Go</button>
            </form>
            <div>
                <p>Here will be your graph: {{result}}</p>
                <br/>
            </div>
        </div>
    </section>
</body>
</html>
